<form [formGroup]="form" (ngSubmit) = "formSubmit()" style="border:1px solid #ccc" novalidate>
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input class="form-control" type="text" placeholder="Enter Email" formControlName="email" required pattern="^\w+([\.]?\w+)*@\w+([\.,]?\w+)*(\.\w{2,3})+$">

          <label for="name"><b>Name with initials</b></label>
          <input class="form-control" type="text" placeholder="Enter Name" formControlName="name" required pattern="^[A-Za-z][A-Za-z\'\.]+([\ A-Za-z][A-Za-z\']+)*">

          <label for="name"><b>User Name</b></label>
          <input class="form-control" type="text" placeholder="Enter User Name" formControlName="username" required pattern="[A-Za-z0-9_]{4,25}">

          
          <label for="dob"><b>Date Of Birth</b></label><br>
          <input matInput style="width: 1020px;" [max]="maxDate" [matDatepicker]="picker" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" placeholder="YYYY/MM/DD" formControlName="dob" required="true" class="xyz">
          <mat-datepicker-toggle style="margin-left: 30px;" matSuffix [for]="picker" class="date_width" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
          <br>

          <label for="nic"><b>National Identity Card</b></label>
          <input class="form-control" type="text" placeholder="Enter NIC" formControlName="nic" required pattern="[0-9vx]{10,12}">
      
       
          <label for="password"><b>Password <p><i>(Need 8 or above digits password) </i></p></b></label>
          
          <div class="row">
            <div class="col-11" >
              <input class="xyz" [type]="hide ? 'password' : 'text'" placeholder="Enter Password" formControlName="password" required pattern="(.){8,15}">
            </div>

            <div class="col-1">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </div>
          </div>

 
          <br>
          <label for="password-repeat"><b>Repeat Password</b></label>

        <div class="row">
          <div class="col-11">
            <input class="abc" [type]="hide ? 'password' : 'text'" placeholder="Repeat Password" formControlName="repass" required pattern="(.){8,15}" class="abc">
          </div>
      

        <div class="col-1" mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          
            <mat-icon (click)="hide = !hide" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
           
        </div>
      </div>
        
        
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="reset" class="btn" id="cancelbtn" value="reset">Clear</button>
            <button type="submit" class="btn" id="signupbtn" value="submit" [disabled]="form.invalid">Sign Up</button>
          </div>

          

        </div>
      </form>
