<form [formGroup]="form" (ngSubmit) = "formSubmit()" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>
          <h2>git push check</h2>
          <p>Please fill in this form to create an account.</p>
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input class="form-control" type="text" placeholder="Enter Email" formControlName="email" required>

          <label for="name"><b>Name with initials</b></label>
          <input class="form-control" type="text" placeholder="Enter Name" formControlName="name" required>

          <label for="name"><b>User Name</b></label>
          <input class="form-control" type="text" placeholder="Enter User Name" formControlName="username" required>

          <label for="dob"><b>Date Of Birth</b></label>
          <input class="form-control" type="text" placeholder="YYYY/MM/DD" formControlName="dob" required>


          <label for="nic"><b>National Identity Card</b></label>
          <input class="form-control" type="text" placeholder="Enter NIC" formControlName="nic" required>
      
          <label for="password"><b>Password</b></label>
          <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" required>
      
          <label for="password-repeat"><b>Repeat Password</b></label>
          <input class="form-control" type="password" placeholder="Repeat Password" formControlName="repass" required>
          
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>

      
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="reset" class="cancelbtn" value="reset">Clear</button>
            <button type="submit" class="signupbtn" value="submit">Sign Up</button>
          </div>
        </div>
      </form>
