
<nav class="navbar navbar-expand-lg navbar-light bg-light, navbar navbar-dark nav-bar-color" *ngIf="show">
        
     <a class="navbar-brand" id="brand" href="add">Night Wolf<span class="sr_only"></span></a>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>        
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">

                  <li>
                         <a class="nav-link" href="view">Ongoing download <span class="sr-only">(current)</span></a>
                  </li>

                  <li >
                        <a class="nav-link" href="localrepository">Local Repository <span class="sr-only">(current)</span></a>
                  </li>
                 
                  <li >
                        <a class="nav-link" href="history">History <span class="sr-only">(current)</span></a>
                  </li>


                  <li align-right id="logout">  
                        <a class="nav-link" (click)="logout()" >Log Out <span class="sr-only">(current)</span></a>
                  </li>
                  
                  <li >
                        <a class="nav-link">{{this.storage.get("username")}}<span class="sr-only" id="username"></span></a>
                  </li>
                 
            </ul>  
            

      </div>

     <!-- <div class="collapse navbar-collapse" id="logout" >
            <ul class="navbar-nav mr-auto">
                  <li align-left>  
                        <a class="nav-link" (click)="logout()" >Log Out <span class="sr-only">(current)</span></a>
                  </li>
             </ul>
      </div>    -->        


      
</nav>






      <router-outlet></router-outlet>
   