.navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
}
.mat-toolbar.mat-primary{
    background: #1d1033; 
    color: #fff;
}

.nav-bar-color {
    background-color: #0a4969 !important;
}

#brand {
    color: whitesmoke;
    /* font-weight: bold; */
    font-size: 1.7rem;
    font-family: 'Odibee Sans', cursive;
}

  