
<nav class="navbar navbar-expand-lg navbar-light bg-light, navbar navbar-dark nav-bar-color">
        
      <a class="navbar-brand" id="brand">Night Wolf</a>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>        
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                        <a class="nav-link" href="add">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                              <a class="nav-link" href="generatereport">Report <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                              <a class="nav-link" href="add">Add Download <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                              <a class="nav-link" href="view">View <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                              <a class="nav-link" href="LocalRepository"> Repository <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                              <a class="nav-link" href="history">History <span class="sr-only">(current)</span></a>
                  </li>

                  <li class="nav-item active">
                        <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                        <a class="nav-link" href="signup">Sign Up <span class="sr-only">(current)</span></a>
                  </li>
            </ul>   
      </div>
      
</nav>



      <router-outlet></router-outlet>
   