
  
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  /*input[type=text] {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  /*button {
    background-color: rgb(31, 99, 161);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 2%;
  }
  
  /* Add a hover effect for buttons */
  /*button:hover {
    opacity: 0.8;
  }*/
  

  /* Center the  image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /*  image */
  img.wolf {
    width: 10%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    position: center;
    width: 50rem;
  }
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    
  }



.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/images/black_pink.jpg');
  background-size: cover;
}






