<form [formGroup]="form" (ngSubmit) = "formSubmit()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light, navbar navbar-dark bg-primary">
        
        <a class="navbar-brand">Night Wolf</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="searchuser">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="generatereport">Report <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="add">Add Download <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="view">View <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="LocalRerpository">Local Repository <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="history">History <span class="sr-only">(current)</span></a>
            </li>
          </ul>
         
        </div>
      </nav> 

        <div class="panel panel-heading">
            <h1>Add Download</h1>
        </div>
    
        <div class="imgcontainer">
          <img src="assets/images/logo_gray_white_nose.png" alt="wolf" class="wolf">
        </div>
    
    
      
        <div class="container">
          <input type="text" placeholder="Paste URL" formControlName="url" required>
          <button class="btn btn-primary" type="submit">Add</button>
        </div>

        
      
      </form>