<h1>Local Repository</h1>

<div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Douments</mat-card-title>
              <mat-card-subtitle>Documents Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/documents.png" alt="Photo of a blackpink" (click)="setRepo('documents')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>

    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Images</mat-card-title>
              <mat-card-subtitle>Images Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/images.png" alt="Photo of a blackpink" (click)="setRepo('images')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>

    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Videos</mat-card-title>
              <mat-card-subtitle>Videos Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/videos.png" alt="Photo of a blackpink" (click)="setRepo('videos')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Audios</mat-card-title>
              <mat-card-subtitle>Audios Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/audios.png" alt="Photo of a blackpink" (click)="setRepo('audios')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>

    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Programs</mat-card-title>
              <mat-card-subtitle>Programs Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/programs.png" alt="Photo of a blackpink" (click)="setRepo('programs')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>

    <div class="col-md-2">
        <mat-card class="example-card">
            
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Other</mat-card-title>
              <mat-card-subtitle>Other Repository</mat-card-subtitle>
            </mat-card-header>
            
            <img mat-card-image src="assets/images/other.png" alt="Photo of a blackpink" (click)="setRepo('other')">
            <mat-card-content>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </mat-card-content>

        </mat-card>
    </div>

        
</div>
