<h1 style="text-align: left; padding: 5px; font-family: 'Odibee Sans', cursive;;">On Going Downloads</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <!-- Downloaded Size Column -->
  <ng-container matColumnDef="downloadedSize">
    <th mat-header-cell *matHeaderCellDef> Downloaded Size (Bytes) </th>
    <td mat-cell *matCellDef="let element"> {{element.downloadedSize}} </td>
  </ng-container>

  <!-- File Size Column -->
  <ng-container matColumnDef="fileSize">
    <th mat-header-cell *matHeaderCellDef> File Size (Bytes) </th>
    <td mat-cell *matCellDef="let element"> {{element.fileSize}} </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>
    <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
